/*
Custom Global Variables for scss domain
Only place variables here
*/
$border-radius-root: 8px;
$cjk-sans-fallback: 'PingFang SC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Microsoft YaHei' !default;
$cjk-mono-fallback: 'PingFang SC', 'PingFang TC', 'Hiragino Sans GB', 'Noto Sans CJK SC', 'Microsoft YaHei' !default;
$code-text-color: #111827 !default;

// btn variables
$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;

// colors
$white: #fff !default;

// cards
$card-item-spacer-xy: 20px 24px !default;
$card-text-spacer: 24px !default;
$card-title-size: 18px !default;
// box shadow
$box-shadow: 1px 0 20px rgb(0 0 0 / 8%);
