@use '../variables' as *;

.elevation-10 {
  box-shadow: $box-shadow-md !important;
}

.elevation-1 {
  box-shadow: $box-shadow-sm !important;
}

.elevation-2 {
  box-shadow: $box-shadow !important;
}

.elevation-3 {
  box-shadow: $box-shadow-md !important;
}

.elevation-4 {
  box-shadow: $box-shadow-lg !important;
}

.v-theme--PurpleThemeDark {
  .elevation-1,
  .elevation-2,
  .elevation-3,
  .elevation-4,
  .elevation-10 {
    box-shadow:
      0 1px 3px rgba(0, 0, 0, 0.3),
      0 1px 2px rgba(0, 0, 0, 0.2) !important;
  }
}
